{% extends 'dashboard_admin/base.html' %}

{% block title %}Dashboard Admin{% endblock %}

{% block main_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>{{ pesan }}<br><br><br>
  <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#TambahData" ><i class="fas fa-user-plus"></i> Buat Akun Baru</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Akun Dosen Informatika</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ jumlah[3] }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Jumlah Akun Dosen Sistem Informasi</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ jumlah[2] }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Jumlah Akun Mahasiswa Informatika</div>
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ jumlah[1] }}</div>
              </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Jumlah Akun Mahasiswa Sistem Informasi</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ jumlah[0] }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <!-- Card Body -->
      <div class="card-body"><center>
        <h4 class="m-0 font-weight-bold text-primary">Selamat Datang Admin!</h4><br>
        <img style=" width: 80%; height: auto;" src="{{url_for('static', filename='img/admin.svg') }}" ></center>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="TambahData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah akun baru</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <form onsubmit="Cek_Sandi()" method="POST">
      <div class="modal-body">   
          <label>Peran</label><br>
          <select name="peran">
            <option value="dosen">Dosen</option>
            <option value="mhs">Mahasiswa</option>
          </select><br><br>
          
          NPM/NRP<br><input type="text" name="id" required><br>
          Nama<br><input type="text" name="nama" placeholder="Masukkan Nama" required><br><br>
          
          <label>Jurusan</label><br>
          <select name="prodi">
            <option value="Informatika">Informatika</option>
            <option value="Sistem Informasi">Sistem Informasi</option>
          </select><br><br>
  
          Surel<br><input type="email" name="email" placeholder="Masukkan email" required><br><br>
          Kata Sandi<br><input type="password" id="sandi_baru" name="sandi_baru" placeholder="Masukkan kata sandi" required><br><br>
          Ulangi Sandi<br><input type="password" id="sandi_baru_2" name="sandi_baru2" placeholder="Masukkan kata sandi" required><br><br>
        </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
        <input type="submit" class="btn btn-primary" value="Simpan data!">
      </div>
    
    </form>
    
    </div>
  </div>
</div>
{% endblock %}

  {% block another_JS %}
  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
  {% endblock %}

</body>

</html>
