{% extends 'mhs/base.html' %}

{% block title %}Ambil Mata Kuliah{% endblock %}

{% block main_content %}

<!-- Content Row -->
<div class="row">

  <!-- Grow In Utility -->
  <div class="col-lg-12">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mata Kuliah yang Tersedia</h6>
      </div>
      <div class="card-body">
        {% for matkul in mata_kuliah %}
        <a style="width: 100%;" class="mb1">{{ matkul }}</a>
        <a style="float: right;" href="{{ url_for('ambil_matkul', npm = data_mhs['_id'], mata_kul=matkul) }}"><i class="fas fa-plus-circle fa-1x" title="Tambahkan Mata Kuliah ini"></i></a><br>
        {% endfor %}
      </div>
    </div>

  </div>

</div>
{% endblock %}