{% extends 'mhs/base.html' %}

{% block title %}Materi/Tugas {{mata_kul}} Pekan ke {{ pekan }}{% endblock %}

{% block main_content %}
<a style="float: right;" href="{{ url_for('mata_kuliah_mhs', npm = data_mhs['_id'], matkul = matkul) }}" class="icon d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left"></i> Kembali</a><br><br>


<div class="row">
  <div class="col-lg-6">

    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Materi Perkuliahan Pekan - {{ pekan }}</h6>
      </div>
      
      <div class="card-body">
        <p>
          Materi Vieo : <br>
          <video controls width=100% height=100%>
            <source src="{{ url_video }}" type="video/mp4">
          </video><br><br>
          <a style="float: right;" href="{{ url_pdf }}" class="btn btn-dark btn-icon-split">
            <span class="icon text-white">
              <i class="fas fa-arrow-down"></i>
            </span>
            <span class="text" title="Unduh PDF">Materi PDF</span>
          </a>
        </p>
      </div>
    
    </div>

  </div>

  <div class="col-lg-6">
    <!-- Area Chart -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tugas Perkuliahan Pekan - {{ pekan }}</h6>
    </div>
    <div class="card-body">
      <p>
        Nama Tugas<br><input style="width:100%;" type="text" value="{{tugas[1]}}" readonly><br><br>
        Tanggal Batas Pengumpulan Tugas<br><input type="date" value="{{ tugas[2] }}" readonly><br><br>
        Pukul Batas Pengumpulan Tugas (jam:menit)<br><input style="width:50px;" readonly value="{{ tugas[3].split(':')[0]|int }}"> :
        <input style="width:50px;" readonly value="{{ tugas[3].split(':')[1]|int }}"><br><br>
        Deskripsi Tugas<br>
        <textarea style="width: 100%; " name="deskripsi_tugas" rows="4" readonly>{{ tugas[4] }} </textarea><br><br>
      </p>
      <hr class="sidebar-divider">
      Kumpulkan tugas :<br>
      (Pastikan unggahan anda dalam bentuk .zip)<br><br>
      
      <form action="{{ url_for('kerjakan_tugas', npm = data_mhs['_id'], matkul = matkul, pekan = pekan) }}" method="POST" enctype="multipart/form-data">
        
        <input type="file" style="width:100%" name="tugas_mhs" accept=".zip">
        <a style="float: right;" class="btn btn-success btn-icon-split">
          <span class="icon text-white"><i class="fas fa-check"></i></span>
          <input type="submit" class="text-primary" value="Simpan">
        </a>
      
      </form><br><br>
      
      <hr class="sidebar-divider">
      
      <a href="{{ unggahan }}" >Tugas terkumpul</a>
      <a style="float: right;" href="{{ url_for('hapus_tugas_mhs', npm = data_mhs['_id'], nrp = nrp, matkul = matkul, pekan = pekan) }}" class="btn btn-danger btn-icon-split">
        <span class="icon text-white"><i class="fas fa-times"></i></span>
        <input type="submit" class="text-primary" value="Hapus">
      </a>

    </div>
  </div>
  </div>

 </div>

          {% endblock %}

  {% block another_JS %}
  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>
  {% endblock %}
