{% extends 'dashboard_dosen/base.html' %}

{% block title %}Tugas Terkumpul{% endblock %}

{% block main_content %}

<!-- Content Row -->
<div class="row">

  <!-- Grow In Utility -->
  <div class="col-lg-12">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mata Kuliah yang Diampu</h6>
      </div>
      <div class="card-body">
        {% for matkul in daftar_matkul %}
        <p style="width: 100%;" class="mb1">{{ matkul }}
        <a href="{{url_for('nilai_mhs_permatkul', nrp = data_dosen['_id'], matkul=matkul)}}"><i class="fas fa-laptop-code" title="Lihat detail"></i></a></p><br>
        {% endfor %}
      </div>
    </div>

  </div>

</div>

{% endblock %}