{% extends 'dashboard_dosen/base.html' %}

{% block title %}Laman Masuk{% endblock %}

{% block main_content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Mata Kuliah</h1>

<div class="row">
  <div class="col-lg-6">

    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tambah Mata Kuliah Baru</h6>
      </div>
      <div class="card-body">
        <form method="POST">
          Nama Mata Kuliah :<br>
          <input style="width:100%" type="text" name="nama_mata_kuliah" required><br><br>
          
          Kelas Paralel :<br>
          <input style="width:100%" type="text" name="kelas_paralel" placeholder="Ketik PIL jika matkul pilihan" required><br><br>
          
          <a style="margin-right: -1px;" class="btn btn-success btn-icon-split">
            <span class="icon text-white"><i class="fas fa-check"></i></span>
            <input type="submit" class="text-primary" value="Simpan">
          </a>
          <p align=right>{{ pesan }}</p>
      </form>

      </div>
    </div>
  </div>

  <div class="col-lg-6">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mata Kuliah yang diampu</h6>
      </div>
      <div class="card-body">
        <tbody> {% for matkul in daftar_matkul %}
          <tr>
            <td><a href="{{ url_for('mata_kuliah_dos', nrp = data_dosen['_id'], matkul = matkul) }}">{{ matkul }}</a></td>
            <td><a href="{{ url_for('hapus_mata_kuliah', nrp=data_dosen['_id'], matkul = matkul )}}" class="btn btn-danger" title="Hapus Data"><i class="far fa-trash-alt"></i></a></td><br>
          </tr>
          {% endfor %}</tbody>
      </div>
    </div>

  </div>

 </div>

{% endblock %}