<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon_io/android-chrome-192x192.png' )}}" type="image/gif" sizes="16x16">
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
  
  {% block another_CSS %}{% endblock %}
</head>

<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('admin') }}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user-cog"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FIK OCW</div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('admin') }}">
          <i class="fas fa-home"></i>
          <span>Dashboard</span></a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        <i class="fas fa-user-graduate"></i>
        Data Dosen
      </div>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('daftar_dosen', prodi = 'Informatika') }}" >
          <i class="fab fa-usb"></i>
          <span>Informatika</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('daftar_dosen', prodi = 'Sistem Informasi') }}" >
          <i class="fas fa-laptop-code"></i>
          <span>Sistem Informasi</span>
        </a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        <i class="fas fa-user-alt"></i>
        Data Mahasiswa
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('daftar_mhs', prodi = 'Informatika') }}" >
          <i class="fab fa-usb"></i>
          <span>Informatika</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('daftar_mhs', prodi = 'Sistem Informasi') }}" >
          <i class="fas fa-laptop-code"></i>
          <span>Sistem Informasi</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ email }}</span>
                <img class="img-profile rounded-circle" src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1202259/android/stickers/8217743.png">
              </a>

              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditModal">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Ubah sandi</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('keluar') }}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</a>
              </div>
            </li>
          </ul>

        </nav>

        <div class="container-fluid">
          {% block main_content %}{% endblock %}
        </div>
      </div>

      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; FIK OCW 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit data admin</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <form onsubmit="return Cek_Sandi()" action="{{ url_for('edit', peran='@admin.fik_ocw', unik=email) }}" method="POST">
          <div class="modal-body">
            Email<br><input readonly type="text" value="{{ email }}"><br><br>
            Sandi lama<br><input id="Sandi_Admin" type="password" name="sandi" value="{{ sandi }}"><br><br>
            <input type="checkbox" onclick="Lihat_Sandi()"> Lihat sandi<br><br>

            Sandi baru<br><input id="sandi_baru" type="password" name="sandi" required><br><br>
            Ulangi sandi baru<br><input id="sandi_baru_2" type="password" name="sandi" required><br><br>
             
          </div>
        
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
            <input type="submit" class="btn btn-primary" value="Ubah">
          </div>
        </form>
      
      </div>
    </div>
  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mau keluar?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">Pilih "keluar" jika ingin keluar.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Tidak</button>
          <a class="btn btn-primary" href="{{ url_for('keluar') }}">Keluar</a>
        </div>
      
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sandi.js') }}"></script>

  {% block another_JS %}{% endblock %}

</body>
</html>