{% extends 'dosen/base.html' %}

{% block title %}Tambah/Edit Tugas {{mata_kul}} Pekan ke {{ pekan }}{% endblock %}

{% block main_content %}
<a style="float: right;" href="{{ url_for('mata_kuliah_dos', nrp = data_dosen['_id'], matkul = mata_kul) }}" class="icon d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left"></i> Kembali</a><br><br>


<div class="row">
  <div class="col-lg-12">

    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tugas Perkuliahan Pekan - {{ pekan }}</h6>
      </div>
      <div class="card-body">
        <form method="POST">
        <p>
          Nama Tugas<br><input style="width:100%" type="text" name="nama_tugas" value="{{isian[0]}}"><br><br>
          Tanggal Batas Pengumpulan Tugas<br><input type="date" name="dedline" value="{{ isian[1] }}"><br><br>
          Pukul Batas Pengumpulan Tugas (jam:menit)<br><input style="width:75px" placeholder="jam" name="jam" type="number" value="{{ isian[2]|int }}" max="24" min="0">
          <input style="width:75px" placeholder="menit" name="menit" type="number" max="60" value="{{ isian[3]|int }}" min="0"><br><br>
          Deskripsi Tugas<br>
          <textarea style="width: 100%;" name="deskripsi_tugas" rows="4">{{ isian[4] }} </textarea><br><br>
          <a class="btn btn-success btn-icon-split">
            <span class="icon text-white"><i class="fas fa-check"></i></span>
            <input type="submit" class="text-primary" value="Simpan">
          </a>
        </p>
        </form>
        <a href="{{ url_for('hapus_tugas_dos', nrp = data_dosen['_id'], matkul = mata_kul, pekan = pekan) }}" class="btn btn-danger btn-icon-split">
          <span class="icon text-white"><i class="fas fa-times"></i></span>
          <input type="submit" class="text-primary" value="Hapus">
        </a>
    </div>

  </div>

  </div>

 </div>

          {% endblock %}

  {% block another_JS %}
  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>
  {% endblock %}
