<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/android-chrome-192x192.png' )}}" type="image/gif" sizes="16x16"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Fasilkom Open Courseware</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <a href="{{ url_for('index')}}" class="navbar-brand"><img src="{{ url_for('static', filename='img/new_logo.png') }}" alt=""></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#home">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#app-features">Fitur</a>
              </li>                           
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#tim">Tim</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#map-area">Kontak</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>  
      <div class="container">      
        <div class="row space-100">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="contents">
              <h2 class="head-title">Selamat Datang di<br>FIK <i>Open Courseware</i></h2>
              <p>E-Learning Fakultas Ilmu Komputer Universitas Pembangunan Nasional "VETERAN" Jawa Timur</p>
              <div class="header-button">
                <a href="{{ url_for('login')}}" class="btn btn-border-filled">Masuk</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="intro-img">
              <img src="{{ url_for('static', filename='img/for_heading.png') }}" alt="">
            </div>            
          </div>
        </div> 
      </div>             
    </header>
    <!-- Header Section End --> 

    <!-- features Section Start -->
    <div id="app-features" class="section">
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Fitur</p>       
          <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Kualitas Terjamin</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-left text-right">
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>Ramah Pengguna</h4>
                  <p>Desain dibuat agar mahasiswa dan dosen dapat menggunakan layanan dengan mudah.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-dashboard"></i>
                </span>
                <div class="text">
                  <h4>Server anti <i>down</i></h4>
                  <p>Diprogram dengan menerapkan konkruensi yang andal.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-headphone-alt"></i>
                </span>
                <div class="text">
                  <h4>Dukungan 24/7</h4>
                  <p>Apabila ada masalah silahkan kontak salah satu dari tim pengembang dan admin.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="show-box">
              <img src="{{ url_for('static', filename='img/features/fitur.png') }}" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-right text-left">
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-shield"></i>
                </span>
                <div class="text">
                  <h4>Aman</h4>
                  <p>Layanan keamanan berlapis aman dari serangan peretas insyaa Allah.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-star-filled"></i>
                </span>
                <div class="text">
                  <h4>Berkualitas</h4>
                  <p>Materi disusun dengan kurikulum terbaru sesuai dengan tuntutan zaman.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-cup"></i>
                </span>
                <div class="text">
                  <h4>Pencetak Prestasi</h4>
                  <p>Setelah mendapatkan materi di sini mahasiswa diharapkan dapat memiliki segudang prestasi akademik.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features Section End -->

    <!-- Features Section Start -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="{{ url_for('static', filename='img/features/img1.jpg') }}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
              <div>
                <p class="btn btn-subtitle">Konten</p>  
                <h3>Menyenangkan!</h3>
                <p>Penyampaian materi disusun secara lugas, tidak bertele-tele dan tidak membosankan. Hal ini dilakukan agar mahasiswa dapat mendapatkan ilmu dengan mudah dan tahan lama.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.9s">
              <div>
                <p class="btn btn-subtitle">Selalu <i>up to date</i></p>  
                <h3>Santai!</h3>
                <p>Seluruh pembaruan tugas maupun ujian diberitahukan melalui email mahasiswa masing-masing sehingga setiap mahasiswa tidak perlu khawatir akan ketertinggalan informasi.</p>
              </div>
            </div>
          </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
              <img class="img-fluid" src="{{ url_for('static', filename='img/features/img2.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Section End -->  

    <!-- Team section Start -->
    <section id="tim" class="section">
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Tim</p>       
          <h2 class="section-title">Pengembang dan Admin</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-thumb">
                <img src="{{ url_for('static', filename='img/team/team1.jpg') }}" alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Maulana Idris</h4>
                  <p>17081010040</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-thumb">
                <img src="{{ url_for('static', filename='img/team/team2.jpg') }}" alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Fitri Aulia YP</h4>
                  <p>17081010046</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-thumb">
                <img src="{{ url_for('static', filename='img/team/team3.jpg') }}" alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">                  
                  <h4 class="team-title">Rakhman Wahid</h4>
                  <p>17081010068</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-thumb">
                <img src="{{ url_for('static', filename='img/team/team4.jpg') }}" alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Amir Fanani</h4>
                  <p>17081010071</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section End -->

    <!-- Map Section Start -->
    <section id="map-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 padding-0">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1978.5885227670788!2d112.78770505806047!3d-7.334004238409737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaae1e1cbcc3e2778!2sFakultas%20Ilmu%20Komputer%202%20UPN%20Veteran%20Jatim!5e0!3m2!1sid!2sid!4v1589459392226!5m2!1sid!2sid"></object>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->

    <!-- Contact Section Start -->
    <section id="contact">      
      <div class="contact-form">
        <div class="container">
          <div class="row justify-content-center"> 
            <div class="offset-top">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="contact-block wow fadeInUp" data-wow-delay="0.2s">
                  <div class="section-header">   
                    <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Kontak Kami</p>
                    <h4>{{ pesan }}</h4>
                  </div>
                  
                  <form action="{{ url_for('index') }}" method="POST" id="contactForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="sender" placeholder="Nama" required data-error="Masukkan nama anda">
                          <div class="help-block with-errors"></div>
                        </div>                                 
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" placeholder="Email" id="email" class="form-control" name="sender_email" required data-error="Masukkan email anda">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" placeholder="Subjek" id="msg_subject" class="form-control" required="" data-error="Tentukan subjek pesan" name="sender_subjek">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group"> 
                          <textarea class="form-control" id="message" placeholder="Pesan" rows="7" data-error="Tulis pesan anda" required name="pesan_banyak"></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="submit-button">
                          <button class="btn btn-common btn-effect" id="submit" type="submit">Kirim</button>
                          <div id="msgSubmit" class="h3 hidden"></div> 
                          <div class="clearfix"></div> 
                        </div>
                      </div>
                    </div>            
                  </form>

                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>        
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="{{ url_for('static', filename='img/new_logo.png') }}" alt="">
              <div class="textwidget">
                <p>Jl Rungkut Madya, Gunung Anyar, SBY<br>Telp : +62 (031) 870 6369<br>Fax. : +62 (031) 870 6372<br>Surel : humas@upnjatim.ac.id<br></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Unit Pelaksana Teknis</h3>
                <ul class="menu">
                  <li><a href="http://pustaka.upnjatim.ac.id/">UPT - Perpustakaan</a></li>
                  <li><a href="http://pusbasa.upnjatim.ac.id/">UPT - Pusat Bahasa</a></li>
                  <li><a href="http://lpt.upnjatim.ac.id/">UPT - Laboratorium Terpadu</a></li>
                  <li><a href="https://www.upnjatim.ac.id/upt-pengembangan-karir-kewirausahaan/">UPT - Pengembangan Karir & Kewirausahaan</a></li>
                  <li><a href="https://upttik.upnjatim.ac.id/">UPT - Teknologi, Informasi & Komunikasi</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Lembaga & Biro</h3>
                <ul class="menu">
                  <li><a href="http://lppm.upnjatim.ac.id/">LPPM</a></li>
                  <li><a href="http://lp3m.upnjatim.ac.id/">LP3M</a></li>
                  <li><a href="https://www.upnjatim.ac.id/biro-umum-dan-keuangan/">Biro Umum & Keuangan</a></li>
                  <li><a href="https://www.upnjatim.ac.id/biro-akademik-kemahasiswaan-perencanaan-dan-kerjasama/">Biro Kemahasiswaan, Perencanaan & Kerja Sama</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Program Studi</h3>
                <ul class="menu">
                  <li><a href="https://if.upnjatim.ac.id/">Informatika</a></li>
                  <li><a href="http://sisfo.upnjatim.ac.id/">Sistem Informasi</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p>&copy; 2020 - by Maul and the Gang</p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="github" href="#"><i class="lni-google-plus"></i></a></li>
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a> 

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mixitup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nivo-lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact-form-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>