{% extends 'auth/base.html' %}

{% block title %}Minta Sandi Baru{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-2">Lupa kata sandi?</h1>
  <p class="mb-4">Silahkan hubungi salah satu dari admin di bawah ini untuk minta kata sandi baru</p>
</div>

<form class="user">
  <a href="https://t.me/rakhid16" class="btn btn-primary btn-user btn-block"><i class="em em-face_palm" aria-role="presentation" aria-label="FACE PALM"></i> <b>Admin Maulana</b></a>
  <a href="https://t.me/rakhid16" class="btn btn-secondary btn-user btn-block"><i class="em em-face_with_hand_over_mouth" aria-role="presentation" aria-label="SMILING FACE WITH SMILING EYES AND HAND COVERING MOUTH"></i> <b>Admin Fitri Aulia</b></a>
  <a href="https://t.me/rakhmanWahid" class="btn btn-danger btn-user btn-block"><i class="em em-bearded_person" aria-role="presentation" aria-label="BEARDED PERSON"></i> <b>Admin Radical</b></a>
  <a href="https://t.me/rakhid16" class="btn btn-success btn-user btn-block"><i class="em em-call_me_hand" aria-role="presentation" aria-label="CALL ME HAND"></i> <b>Admin Amir Fanani</b></a>
</form>

<hr>

<div class="text-center">
  Sudah ingat kata sandi?<br>
  <a href="{{ url_for('login') }}">Login aja!</a>
</div>
{% endblock %}