{% extends 'dashboard/base.html' %}

{% block title %}Tables{% endblock %}

{% block another_CSS %}
<!-- Custom styles for this page -->
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<!-- Page Heading -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Nilai Mata Kuliah {{ data_mhs['nama'] }}</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">

      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Mata Kuliah</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for matkul in data_mhs['Mata kuliah'] %}
              <td>{{ matkul }}</td>
              <td><a data-toggle="modal" data-target="#au"><i class="fas fa-search" title="Lihat detail nilai"></i></a></td>
            
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="au" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nilai Mata Kuliah {{ matkul }}</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body">
              Pekan 1 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][0] }}"><br><br>
              Pekan 2 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][1] }}"><br><br>
              Pekan 3 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][2] }}"><br><br>
              Pekan 4 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][3] }}"><br><br>
              Pekan 5 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][4] }}"><br><br>
              Pekan 6 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][5] }}"><br><br>
              Pekan 7 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][6] }}"><br><br>
              NIlai UTS <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][7] }}"><br><br>
              Pekan 9 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][8] }}"><br><br>
              Pekan 10 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][9] }}"><br><br>
              Pekan 11 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][10] }}"><br><br>
              Pekan 12 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][11] }}"><br><br>
              Pekan 13 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][12] }}"><br><br>
              Pekan 14 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][13] }}"><br><br>
              Pekan 15 <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][14] }}"><br><br>
              Nilai UAS <input disabled type="text" value="{{ data_mhs['Mata kuliah'][matkul][15] }}">
            </div>
            {% endfor %}

            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Tidak</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block another_JS %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}
